{
  "extends": ["airbnb", "prettier"],
  "plugins": ["html", "jest", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "arrow-parens": "off",
    "no-return-assign": "off"
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
